@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding-top: 50px;
  background: linear-gradient(135deg, #b6e2f3, #f8f8f8 30%, #f8f8f8 70%, #b6e2f3);
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  opacity: 0;
  font-family: 'Poppins', sans-serif;
}

.menu-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
  background: transparent;
  z-index: 1000;
  display: flex;
  justify-content: center;
}

body.loaded {
  opacity: 1;
  transform: translateY(0);
}

ul {
  position: relative;
  display: flex;
  gap: 25px;
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}

ul li:hover {
  width: 180px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

ul li::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, var(--1), var(--2));
  opacity: 0;
  transition: 0.5s;
}

ul li:hover::before {
  opacity: 1;
}

ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
  filter: blur(15px);
}

ul li:hover::after {
  opacity: 0.5;
}

ul li i {
  color: #0f192e;
  font-size: 1.75em !important;
  transition: 0.5s;
  transition-delay: 0.25s;
}

ul li:hover i {
  transform: scale(0);
  transition-delay: 0.25s;
}

ul li .titulo {
  position: absolute;
  color: #fff;
  font-size: 1.1em !important;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

ul li:hover .titulo {
  transform: scale(1);
  transition-delay: 0.25s;
}

.content {
  position: relative;
  display: grid;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.btn {
  width: 8.5em;
  height: 2.3em;
  margin: 0.5em;
  background: black;
  color: white;
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn:hover {
  color: black;
}

.btn::after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover::after {
  transform: skewX(-45deg) scale(1, 1);
}
