

h1 {
  text-align: center;
  /* centrar texto */
  margin-bottom: 1.5rem;
  /* espacio abajo */
}

.container {
  margin-top: 50px;
}
 
/* Contenedor de tarjetas usando Flexbox */
.cards-grid {
 display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 120px;
  
  /* Aseguramos que no haya padding o margen que limite las tarjetas */
  padding: 0;
  margin-left: 0;
  margin-right: 0; 
}
 
/* Estilo de cada tarjeta */
.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0;
  padding: 0 2rem;

  width: calc(100vw - 175px); /* ancho casi completo con 20px margen a cada lado */
  height: 170px;

  background:  linear-gradient(to right, #45729a, #709092);
  border-radius: 35px; /* bordes más redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  justify-content: flex-start;
  transition: transform 0.3s ease;
  margin-left: 20px; /* separación izquierda */
  margin-right: 20px; /* separación derecha */
}
 
.card:hover {
  transform: translateY(-4px);
  /* elevar al pasar */
}
 
.card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 1.5rem;
  margin-bottom: 0;
}
 
.card h2 {
  font-size: 1.5rem;
  margin: 0 0 0.25rem 0;
}
 
.card p {
 margin: 0;
  color: #555;
  font-size: 1rem;

}